<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>template engines</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />


</head>

<body>
    <h1 class="bg-warning-subtle text-center m-auto p-3">
        <%= title %>
    </h1>




</body>

</html>